<p-iconfield>
  <p-inputicon class="pi pi-search" />
  <input type="text" pInputText placeholder="Search" #input (keyup)="search(input.value)" />
</p-iconfield>

@if (company$ | async; as company) {
  <div class="grid">
    @for (item of company.items; track $index) {
      <div class="grid__item">
        <div class="img-holder"></div>
        <div class="regular-S-label mt--2">{{ item.name }}</div>
        <div class="semi-bold-M-label mt--4">{{ item.price }}</div>
        <div class="semi-bold-S-label">{{ item.unit }}</div>

        <p-button class="mt--2" label="Dodaj u korpu" [rounded]="true" />
      </div>
    }
  </div>
}
