@font-face {
  font-family: 'Noto Kufi Regular';
  src: url('../UI/fonts/NotoKufiArabic-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Kufi Semi-Bold';
  src: url('../UI/fonts/NotoKufiArabic-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Kufi Bold';
  src: url('../UI/fonts/NotoKufiArabic-Bold.ttf') format('truetype');
}
